@model AdventureWorks.Apps.Web.ViewModels.Product.AddViewModel



<h2>Product : Add New</h2>

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
{

    Html.EnableClientValidation();

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(null, new { @class = "alert alert-danger" })

    Html.RenderPartial("Message");

    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Number, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StandardCost, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.StandardCost, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @Html.LabelFor(m => m.ListPrice, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.ListPrice, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SafetyStockLevel, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.SafetyStockLevel, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @Html.LabelFor(m => m.ReorderPoint, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.ReorderPoint, new { htmlAttributes = new { @class = "form-control" } })
        </div>


    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DaysToManufacture, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.DaysToManufacture, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @Html.LabelFor(m => m.SellStartDate, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.SellStartDate, new { htmlAttributes = new { id = "sellStartDate", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ModelId, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.ModelName, new { id = "models", @class = "form-control" })
            @Html.HiddenFor(m => m.ModelId, new { id = "selectedModel" })
        </div>

        @Html.LabelFor(m => m.SubCategoryId, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.SubCategoryName, new { id = "subCategories", @class = "form-control" })
            @Html.HiddenFor(m => m.SubCategoryId, new { id = "selectedSubCategory" })
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">
            Add
        </button>

        <a href="@Url.Action("Index")" class="btn btn-default">
            Cancel
        </a>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {

            autoCompleteFor("models", "selectedModel", "@Url.Action("SuggestAvailableModels")");
            autoCompleteFor("subCategories", "selectedSubCategory", "@Url.Action("SuggestAvailableSubCategories")");

            $("#sellStartDate").datepicker({
                numberOfMonths: 3,
                showButtonPanel: true
            });
        });
    </script>
}
